@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #34BF8C);
}
main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #1b6147;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #2A438C;
    text-align: center;
    text-shadow: 1px 1px 2px #F27F1B;

}
h2{
    color: #34BF8C;

}

p {

    text-align: justify;
}